{% extends "myapp/base.html" %}
{% load static %}

{% block title %} Blog - Detail {% endblock title %}


{% block content %}
<
          
          <main class="container">
          
            <div class="row g-5">
              <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                  {{single_post.title}}
                </h3>
          
                <article class="blog-post">
                  <h2 class="display-5 link-body-emphasis mb-1"></h2>
                  <p class="blog-post-meta">Create On: {{ single_post.created_date|date}} by <a href="#">Mark</a></p>
                  <hr>
                  <h2>----Description-----</h2>
                  {% if single_post.images %}
                  <img src="{{ single_post.images.url }}">
                  {% else %}                  
                  <img src="{% static 'img/noimg.jpeg' %}">
                  {% endif %}
                  <blockquote class="blockquote">
                    <p> {{ single_post.description }} </p>
                  </blockquote>
                  <p></p>
                  <h3>---BODY---</h3>
                  <p> {{ single_post.body|safe }}</p>
                  <hr>                  
                  <h6 class="blog-post-meta">Written by: {{ single_post.author.author_name }}</h6>
                  {% if single_post.images %}
                  <img src="{{ single_post.author.image.url }}">
                  {% else %}                  
                  <img src="{% static 'img/noimg.jpeg' %}">
                  {% endif %}
                  <h6 class="blog-post-meta">Modified on: {{ single_post.modified_date}}</h6>
                </article>
          
          
                <nav class="blog-pagination" aria-label="Pagination">
                  <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
                  <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
                </nav>
          
              </div>
          
              <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
            
                  <div>
                    <h4 class="fst-italic">Recent posts</h4>
                    <ul class="list-unstyled">
                      {% for n in nav_posts %}
                      <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{% url 'post-detail' n.slug %}">
                          {% if n.images %}
                          <img class="img-fluid w-50" alt="..." src="{{ n.images.url }}">
                          {% else %}                  
                          <img class="img-fluid w-50" alt="..." src="{% static 'img/noimg.jpeg' %}">
                          {% endif %}
                          <div class="col-lg-8">
                            <h6 class="mb-0">{{ n.title }}</h6>
                            <small class="text-body-secondary">January 15, 2024</small>
                          </div>
                        </a>
                      </li>
                      {% endfor %}
                     
                    </ul>
                  </div>
          
                  <div class="p-4">
                    <h4 class="fst-1talic">ช่องทางติดคาม </h4>
                    <ol class="list-unstyled">
                    <li><a href="https://www.facebook.com/UncleEngineer/" target="_blank"> Facebook</a></li>
                    <li><a href="https://www.youtube.com/@UncleEngineer" target="_blank">YouTube</a></li>
                    <li><a href="https://uncle-engineer.com/" target=" blank">Website</a></li>
                    </ol>
                  </div>
          
                  <div class="p-4">
                    <h4 class="fst-italic">Elsewhere</h4>
                    <ol class="list-unstyled">
                      <li><a href="#">GitHub</a></li>
                      <li><a href="#">Twitter</a></li>
                      <li><a href="#">Facebook</a></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          
          </main>
          
{% endblock content %}