{% extends "myapp/base.html" %}
   
{% block title %} Home  {% endblock title %}


{% block content %}
   <h1>All about Oat's Page.</h1>
    <p class="lead">
        Nattapoom Website's to learn web programming with Django & Bootstrap. <br/>
        เว็บไซท์นี้ ทำมาเพื่อสร้าง ระบบเว็บไซท์ขายสินค้า ตามที่อยากจะขายให้ลูกค้าเท่านั้น ถ้าลูกค้าไม่อยากได้ ก็ให้ทักมาได้เลย เดี๋ยวเอามาลงให้ท้ันทีครับ แฮร่
    </p>
    <center><img src="https://i.dailymail.co.uk/1s/2024/01/27/11/80533329-13013099-Liverpool_like_Brentford_s_high_pressing_energetic_style_of_play-a-15_1706353946729.jpg" width="400"></center>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">ไป SHOP กันเล้ยยย</a>
      </p>
  {% endblock content %}
