{% extends "myapp/base.html" %}
   
{% block title %} Home  {% endblock title %}


{% block content %}


    <table class="table caption-top table-striped table-hover table-sm">
        <caption class="text-light ">List of Tracking</caption>
        <tr>
            <th>Tracking ID</th>
            <th>Customer Name</th>
            <th>Status</th>
        </tr>
        {% for tr in tracking_list %}
        <tr>
            <td>{{tr.tracking_id}}</td>
            <td>{{tr.cust_name}}</td>
            <td>{{tr.status}}</td>
        </tr>
        {% endfor %}        
    </table>
   
  {% endblock content %}
